<!doctype html>
<html>
  <head>
    <title>DesignCanva</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  </head>
  <body>
    <h1 class="heading">Color Book</h1>
    <%- page %>
<script>
function upload(event){
var node=event.target.parentElement.children[0].childNodes;
for(var node of node){
console.log(node.style.backgroundColor);}}
</script>
</script>
</body>
</html>
